@charset "UTF-8";

[v-cloak] {
  display: none;
}

li .checkbox-permission:first-child {
  padding-left: 30px !important;
}

.is-invalid .select2-selection--single {
  border-color: #dc3545 !important;
}

table > thead .sorting,
table > thead .sorting_asc,
table > thead .sorting_desc,
table > thead .sorting_asc_disabled,
table > thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}

table > thead .sorting:before,
table > thead .sorting:after,
table > thead .sorting_asc:before,
table > thead .sorting_asc:after,
table > thead .sorting_desc:before,
table > thead .sorting_desc:after,
table > thead .sorting_asc_disabled:before,
table > thead .sorting_asc_disabled:after,
table > thead .sorting_desc_disabled:before,
table > thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 0.9em;
  display: block;
  opacity: 0.3;
}

table > thead .sorting:before,
table > thead .sorting_asc:before,
table > thead .sorting_desc:before,
table > thead .sorting_asc_disabled:before,
table > thead .sorting_desc_disabled:before {
  right: 1em;
  content: "\2191";
}

table > thead .sorting:after,
table > thead .sorting_asc:after,
table > thead .sorting_desc:after,
table > thead .sorting_asc_disabled:after,
table > thead .sorting_desc_disabled:after {
  right: 0.5em;
  content: "\2193";
}

table > thead .sorting_asc:before,
table > thead .sorting_desc:after {
  opacity: 1;
}

table > thead .sorting_asc_disabled:before,
table > thead .sorting_desc_disabled:after {
  opacity: 0;
}

divs_scrollBody > table > thead .sorting:before,
divs_scrollBody > table > thead .sorting_asc:before,
divs_scrollBody > table > thead .sorting_desc:before,
divs_scrollBody > table > thead .sorting:after,
divs_scrollBody > table > thead .sorting_asc:after,
divs_scrollBody > table > thead .sorting_desc:after {
  display: none;
}

table.table-sm .sorting:before,
table.table-sm .sorting_asc:before,
table.table-sm .sorting_desc:before {
  top: 5px;
  right: 0.85em;
}

table.table-sm .sorting:after,
table.table-sm .sorting_asc:after,
table.table-sm .sorting_desc:after {
  top: 5px;
}

table > thead .sorting a,
table > thead .sorting_asc a,
table > thead .sorting_desc a,
table > thead .sorting_asc_disabled a,
table > thead .sorting_desc_disabled a {
  color: #212529;
}

